footer {
  z-index:10000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  min-height: 70px;
  max-height: 70px;
  width: 100%;
  overflow-y: hidden;
  .footer__saav {
    img {
      height: 100px;
    }
  }
}
