.header__bg {
  background-color: $blue;
  background-image: linear-gradient(
    to left bottom,
    #4772d9,
    #4f78e0,
    #577ee7,
    #5f85ef,
    #678bf6
  );
  transform: skewY(6deg);
  transform-origin: top right;
}

@font-face {
  font-family: "GilroyBold";
  font-display: auto;
  src: url("/fonts/Gilroy-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "GilroyLight";
  font-display: auto;
  src: url("/fonts/Gilroy-Light.otf") format("opentype");
}

main {
  position: relative;
  overflow: hidden;
  height: 100%;
}

$gutter-size: 10vw;
h1,
h2,
h3,
#sam,
#messina {
  font-family: "GilroyBold", Arial, sans-serif;
  font-weight: 400;
}

h2 + span {
  font-family: "GilroyLight", Arial, sans-serif;
  font-weight: 200;
  font-size: 5vw;
}

#home {
  color: #000333;
  em {
    font-weight: 400;
    color: $red;
  }
}

#tagline {
  font-family: "GilroyLight", Arial, sans-serif;
  font-size: 3vw;
  padding: 5% 3%;
  position: absolute;
  color: white;
  right: 20px;

  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: inline-block;
  animation-delay: 1.6s;
  @media screen and (max-width: 920px) {
    font-size: 6vw;
  }
}

.callout {
  border-left: 5px solid $red;
  font-weight: 600;
  padding: 20px;
}

section {
  min-height: 200px;
}

.contact-section,
.portfolio-section__portfolio {
  padding: 5vw $gutter-size;

  @media screen and (max-width: 768px) {
    padding: 5vw $gutter-size;
  }
}

.fourohfour-section {
  background-color: $blue;
  background-image: linear-gradient(
    to left bottom,
    #4772d9,
    #4f78e0,
    #577ee7,
    #5f85ef,
    #678bf6
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 5%;
  h1 {
    margin-top: unset;
    padding: 0;
    text-align: center;
  }
  header {
    min-height: unset;
    height: unset;
  }
  & > div {
    max-width: 80%;
  }

  a.image {
    text-align: center;
    img {
      width: 50%;
      max-width: 450px;
      min-width: 200px;
      margin: auto;
    }
  }
  a.btn.btn--learnmore,
  button.btn.btn--learnmore {
    position: static;
    margin-top: 100px;
    margin-bottom: 50px;
  }
}

header {
  height: 100vh;
  @media only screen and (max-width: 420px) {
    height: 75vh;
  }
  @media only screen and (min-width: 520px) {
    min-height: 600px;
  }
}

header,
#project-header,
#project-subheader {
  position: relative;
  overflow: hidden;
}

#project-header {
  padding: 0 5%;
}

.header__bg,
.project-header__bg,
.work-history__bg,
.contact-header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#projects {
  min-height: 50%;
}

.project-header__bg {
  transform: skewY(-6deg);
  transform-origin: top left;
  border-bottom: 5px solid #444242;
}

.work-history__bg {
  transform: skewY(6deg);
  transform-origin: top left;
  border-top: 1px solid #444242;
}

.work-history__item {
  display: flex;
}
.work-history__item .item__img-container {
  & > img {
    min-width: calc(30vw - 5px);
    max-width: calc(30vw - 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px) {
      max-height: 150px;
      max-width: 100%;
    }
  }
}

.project-header-text {
  padding: 10% 0 15%;
  max-width: 66vw;
}

h3 {
  margin-top: 0;
  span {
    font-weight: 200;
    line-height: 1;
    font-family: "GilroyLight", Arial, sans-serif;
    font-weight: 200;
    font-size: calc(1.5vw + 12px);
    display: block;
  }
}

h2 {
  font-size: 8vw;
  margin: 0;
  &.project-header-h2 {
    line-height: 1.3;
  }
  @media only screen and (max-width: 768px) {
    font-size: 12vw;
    & + span {
      font-size: 9vw;
      line-height: 1;
      margin-bottom: -10px;
    }
  }
}

.contact-header {
  line-height: 0.75;
  margin-bottom: 40px;
}

.contact-subhead {
  font-size: calc(3vw + 12px);
  line-height: 1;
  ul {
    padding-left: 0;
  }
  li {
    padding: 0 0 20px 0;
    margin: 0;
    line-height: 1.2;
    list-style: none;
    a {
      padding-bottom: 5px;
      padding-top: 20px;
    }
  }
  svg {
    width: 40px;
    height: 40px;
    margin: 0 10px -5px 0;
  }
}

h1 {
  line-height: 0.8;
  padding: 5% 3%;
  position: relative;
  color: white;
  margin: 0;
  font-size: 14vw;
  @media only screen and (max-width: 768px) {
    margin-top: 20vh;
    font-size: 16vw;
  }
  @media only screen and (max-width: 420px) {
    margin-top: 10vh;
  }
  @media only screen and (min-width: 1200px) {
    font-size: 12vw;
  }
}

#messina,
#sam {
  animation: slide-in-left 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  display: inline-block;
  animation-delay: 0.1s;
}

#messina {
  margin-left: 12%;
  animation-delay: 1.3s;
  animation-duration: 0.5s;
}

#smessina-tag {
  font-family: "GilroyLight", Arial, sans-serif;
  font-weight: 200;
  font-size: 50%;
  display: inline-block;
  animation: slide-in-right 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.6s;
}

.header__logo {
  max-width: 50vw;
  text-align: center;
  img {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    margin: auto;
    max-width: 80vw;
  }
}

.header__heading {
  flex-basis: 10%;
  font-weight: 900;
  line-height: 0.8;
  span {
    white-space: nowrap;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
    text-align: center;
  }
}

.header__hr {
  border: 5px solid $blue;
  margin: 5px 0;
}

.header__hr--white {
  border: 5px solid white;
}

.header__ctas {
  margin: 20px auto;
  .btn {
    margin: 20px auto 0;
    width: 20vw;
    min-width: 275px;
    font-size: calc(0.5vw + 14px);
  }
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    button.btn {
      margin: 0 20px;
    }
    @media screen and (max-width: 420px) {
      flex-direction: column;
      button.btn:nth-of-type(1) {
        margin-bottom: 20px;
      }
    }
  }
}

.btn--mid-portfolio {
  margin: 40px auto;
  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
}

button.btn--learnmore:hover svg {
  transform: rotate(90deg);
}

.text-copy {
  text-align: left;
  strong,
  span {
    text-align: left;
  }
  strong {
    font-size: calc(1.5vw + 12px);
  }
}

p.dark {
  font-size: calc(1.5vw + 12px);
  color: $deepblue;
  text-align: center;
  font-weight: 800;
  text-align: center;
  margin: 20px auto;
  span {
    font-weight: 200;
  }
}

.text-copy--aside {
  flex-direction: column;
  display: flex;
  align-items: left;
  justify-content: space-between;
  &.text-copy--aside--right,
  &:nth-of-type(2n) {
    strong {
      margin-right: 0;
    }
  }
  strong {
    color: $red;
    flex-basis: 180%;
    margin-left: 0;
    margin-right: 30px;
  }
  strong.dark {
    color: $deepblue;
    text-align: center;
  }
}

/* ===== Porfolio Section ===== */

.work-section,
.portfolio-section {
  position: relative;
  overflow: hidden;
  button.btn {
    margin-bottom: 60px;
  }
}

/* ===== Portfolio Items ===== */

.portfolio__item {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10% 0;
  position: relative;
  overflow: hidden;

  h3 {
    margin-bottom: 10px;

    @media screen and (max-width: 768px) {
      text-align: left;
    }
  }
  .item__header-link {
    font-size: calc(4.5vw + 12px);
    font-family: "GilroyBold", Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .item__img-container {
    transition: width 0.4s, height 0.4s, box-shadow 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30vw;
    flex-direction: row-reverse;
    padding: 3px;
    height: 250px;
    min-height: 18vw;

    & > img {
      min-width: calc(30vw - 5px);
      max-width: calc(30vw - 5px);
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 768px) {
        max-height: 150px;
        max-width: 100%;
      }
    }

    &:hover {
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
        0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      img.aditional-pics__sss {
        padding: 10%;
      }
    }

    @media screen and (max-width: 768px) {
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      width: 80vw;
      height: 160px;
    }
  }

  .img-container__additional-pics {
    transition: margin 0.4s, height 0.4s;
    display: flex;
    postition: relative;
    overflow: hidden;
    height: 100%;
    .additional-pics__container {
      padding-top: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 520px) {
        padding-top: 12vw;
      }
      @media screen and (max-width: 420px) {
        padding-top: 0;
      }
      a {
        background: none;
        outline: none;
        margin-bottom: -10%;
        @media screen and (max-width: 768px) {
          margin-bottom: 0;
        }
      }
      img {
        transition: padding 0.5s, opacity 0.3s;
        width: 100%;
        opacity: 0;
        @media screen and (max-width: 420px) {
          width: 100%;
          &:hover {
            width: 90%;
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      height: 0;
      width: 90%;
    }
  }

  .item__text-container {
    transition: all 0.4s;
    width: 45vw;
    overflow: hidden;
    p {
      margin-bottom: 20px;
    }
    .item__header-code-link {
      background-size: 2px 0px;
    }
    .item__header-code-link:hover {
      background-size: 2px 90%;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 275px;
      margin-top: 10px;
    }
  }

  &:nth-of-type(2n) {
    flex-direction: row-reverse;
    h3 {
      text-align: left;
    }

    .item__img-container {
      flex-direction: row;
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }

    &.portfolio__item--active {
      .item__img-container {
        animation: scale-up-hor-right 0.5s cubic-bezier(0.39, 0.575, 0.565, 1)
          both;

        @media screen and (max-width: 768px) {
          animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1)
            both;
        }
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

/* ===== Active Portfolio Items ===== */

.portfolio__item--active {
  .item__img-container {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 2px 7px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -1px rgba(0, 0, 0, 0.2);
    animation: scale-up-hor-left 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    width: 100%;
    @media screen and (max-width: 768px) {
      height: 350px;
      animation: scale-up-ver-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
  }

  .img-container__additional-pics .additional-pics__container {
    img {
      opacity: 1;
    }
  }

  .item__text-container {
    margin-left: -100%;
    margin-right: -100%;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__item--active {
    .item__img-container {
      box-shadow: 8px 0 20px -8px rgba(0, 0, 0, 0.35);
      width: 80vw;
      height: 350px;

      @media screen and (max-width: 420px) {
        height: 250px;
      }
    }

    .img-container__additional-pics {
      margin-right: 0;
      height: 400px;
    }

    .item__text-container {
      height: 0;
      margin: auto;
    }
  }
}

/* ===== Specific Portfolio Items ===== */

.portfolio__item--passman .item__img-container {
  background-color: #70c1b3;
}

.portfolio__item--lysten .item__img-container {
  background-color: #fffaff;
}

.portfolio__item--personalist .item__img-container {
  background-color: #fcd3c8;
}
.portfolio__item--blog .item__img-container {
  background-color: #f0db4f;
}
.portfolio__item--wailto .item__img-container {
  background-color: rgba(170, 92, 159, 0.2);
}
.portfolio__item--toadstools .item__img-container {
  background-color: #e3222312;
}

.portfolio__item--orderup-hookup .item__img-container {
  background-color: #e6f8ed;
}

.portfolio__item--twitch-tracker .item__img-container {
  background-color: #b3a2d2;
}
.portfolio__item--hub .item__img-container {
  background-color: rgba(255, 174, 66, 0.5);
}
.portfolio__item--pp .item__img-container {
  background-image: radial-gradient(
    circle,
    #95d5b2 0%,
    #40916c 35%,
    #1b4332 100%
  );
}

.portfolio__item--git-flow .item__img-container {
  background-color: #f9f2f4;
}

.portfolio__item--practice-buddy .item__img-container {
  background-color: #f3efd7;
}

/* ===== Contact Section ===== */

.contact-header__bg {
  transform: skewY(6deg);
  transform-origin: top right;
  background-color: $blue;
  background-image: linear-gradient(
    to left bottom,
    #4772d9,
    #4f78e0,
    #577ee7,
    #5f85ef,
    #678bf6
  );
  height: 150%;
  z-index: -1;
}

.contact-form {
  background-color: white;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 5%;
  /*div {
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }*/
  fieldset {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    border: none;
    &.name-fieldset {
      margin-left: 0;
    }
    &.email-fieldset {
      margin-right: 0;
    }
    &.message-fieldset {
      flex-basis: 100%;
      margin: 10px 0 5px;
      textarea {
        resize: none;
        height: 100%;
        min-height: 28vh;
        margin-top: 35px;
      }
      @media screen and (max-width: 420px) {
        margin-top: 0;
        min-height: 30vh;
      }
    }
    @media screen and (max-width: 768px) {
      flex-basis: 100%;
      width: 100%;
      margin: 10px 0;
    }
  }
  button.btn {
    margin-left: 10px;
    @media screen and (max-width: 768px) {
      margin: 0 auto 20px;
    }
  }
}

.contact-section {
  position: relative;
  span.x {
    transition: top 0.4s;
    top: 150%;
    display: none;
    display: block;
    position: fixed;
    right: 20px;
    z-index: 100000;
    &:hover {
      cursor: pointer;
    }
    @media screen and (max-width: 420px) {
      right: 5px;
    }
  }
}

.contact-blurb {
  line-height: 1.2;
}

.contact-section--active {
  .contact-header__bg {
    transform: none;
    height: auto;
    background-color: transparent;
    z-index: -1;
  }
  transition: background-color 0.5s;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 10vh;
  padding-left: 10vw;
  background-color: $blue;
  background-image: linear-gradient(
    to left bottom,
    #4772d9,
    #4f78e0,
    #577ee7,
    #5f85ef,
    #678bf6
  );
  top: 0;
  left: 0;
  z-index: 10000;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @media screen and (max-width: 420px) {
    overflow-y: scroll;
  }
  span.x {
    color: white;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    top: 20px;
    @media screen and (max-width: 420px) {
      color: #000333;
      top: 5px;
    }
  }
  @media screen and (max-width: 420px) {
    padding-top: 0;
    padding-left: 0;
  }
}

.contact-form--active {
  z-index: 10000;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: all 0.4s;
  background-color: white;
  min-width: 80vw;
  max-width: 80vw;
  min-height: 80vh;
  @media screen and (max-width: 420px) {
    min-height: 100vh;
    min-width: 100vw;
  }
}

.contact-form--active--out-trans {
  animation: slide-bot 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both !important;
}

.contact-section--active--out-trans {
  animation: slide-bot 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both !important;
  background-color: transparent;
  span.x {
    top: 100%;
  }
}

input {
  z-index: 100000;
}

textarea:focus,
input:focus {
  outline: 0;
  height: auto;
}

/* Question */

input.question,
textarea.question {
  font-size: calc(0.5vw + 16px);
  font-weight: 300;
  border-radius: 2px;
  margin: 0;
  border: none;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  overflow-x: hidden;
  /* Hack to make "rows" attribute apply in Firefox. */
}

textarea.question {
  width: 92%;
}

/* Underline and Placeholder */

input.question + label,
textarea.question + label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  width: 10%;
  border-top: 1px solid $red;
  transition: width 0.4s ease;
  height: 0px;
  width: 100%;
}

input.question:focus + label,
textarea.question:focus + label {
  width: 80%;
  height: auto;
}

input.question:focus,
input.question:valid {
  padding-top: 20px;
  height: auto;
}

textarea.question:valid,
textarea.question:focus {
  margin-top: 20px;
  height: auto;
}

input.question:invalid {
  color: rgba(0, 0, 0, 0.1);
}

input.question:active,
input.question:focus,
input.question:valid {
  color: black;
}

input.question:active + label > span,
input.question:focus + label > span,
input.question:valid + label > span {
  top: -60px;
  font-size: calc(0.5vw + 16px);
  font-weight: 600;
  color: $deepblue;
  @media screen and (max-width: 768px) {
    top: -50px;
  }
  @media screen and (min-width: 1200px) {
    top: -70px;
  }
  @media screen and (max-width: 420px) {
    white-space: normal;
    top: -55px;
  }
}

textarea.question:focus + label > span,
textarea.question:valid + label > span {
  top: -35vh;
  font-weight: 600;
  color: $deepblue;
  font-size: calc(0.5vw + 16px);
  @media screen and (max-width: 768px) {
    top: calc(-30vh - 40px);
  }
  @media screen and (min-width: 1200px) {
    top: calc(-30vh - 40px);
  }
  @media screen and (max-width: 420px) {
    white-space: normal;
    top: calc(-30vh - 40px);
  }
}

input.question + label,
textarea.question + label,
input.question:valid + label,
textarea.question:valid + label {
  border-color: $blue;
  border-width: 5px;
}

input.question:invalid,
textarea.question:invalid {
  box-shadow: none;
}

input.question + label > span,
textarea.question + label > span {
  font-weight: 300;
  margin: 0;
  position: absolute;
  color: #8f8f8f;
  font-size: calc(1.5vw + 12px);
  top: -35px;
  left: 0px;
  z-index: 1;
  transition: top 0.2s ease, height 0.2s ease, font-size 0.2s ease,
    color 0.2s ease;
  @media screen and (min-width: 1200px) {
    top: -50px;
  }
}

textarea.question + label > span {
  top: -30vh;
  max-width: 100%;
  white-space: normal;
}

a.btn,
button.btn {
  margin: auto;
  width: 20vw;
  min-width: 260px;
  z-index: 1;
  svg {
    margin: 0 5px 0 5px;
    transition: transform 0.4s ease-in-out;

    @media screen and (max-width: 768px) {
      margin: 0 2px 0 5px;
    }
    @media screen and (min-width: 1200px) {
      margin: 0 15px 0 15px;
    }
  }
}

button.btn--webdev {
  z-index: 1;
  &:hover {
    svg {
      transform: rotate(0deg);
      animation: blink 0.5s 3;
    }
  }
  @media screen and (max-width: 768px) {
    margin-right: 5px !important;
  }
  @media screen and (max-width: 420px) {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

button.btn--mktg {
  z-index: 1;
  &:hover {
    svg {
      animation: shake 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
  }
  @media screen and (max-width: 768px) {
    margin-left: 5px !important;
  }
  @media screen and (max-width: 420px) {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

button.btn--learnmore {
  &:hover {
    svg {
      transform: rotate(90deg);
    }
  }
}

a.btn--fourohfour {
  margin: 10px;
}

button.btn--startproject {
  svg {
    transform: rotate(-90deg);
  }
  &:hover {
    svg {
      transform: rotate(0deg);
    }
  }
}

button.btn--touch {
  z-index: 1;
  &:focus {
    z-index: 1;
  }
  svg {
    transform: rotate(90deg);
  }
  &:hover {
    svg {
      transform: rotate(0deg);
    }
  }
}

button.btn--mid-portfolio {
  &:hover {
    svg {
      animation: shakeUp 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
  }
}

button.btn--form {
  width: 20vw;
  min-width: 200px;
  &:hover {
    svg {
      transform: translate(10px, -10px);
    }
  }
}

a.btn.btn--learnmore,
button.btn.btn--learnmore {
  z-index: 10000;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border: 2px solid $blue;
  animation: none;
  bottom: 10vh;
  background-color: white;
  color: $blue;
  @media screen and (min-width: 920px) {
    bottom: 20vh;
  }
}

a.btn.btn--learnmore:hover,
button.btn.btn--learnmore:hover {
  border: 2px solid white;
  box-shadow: none;
  background-color: $blue;
  background-image: linear-gradient(
    to left bottom,
    #4772d9,
    #4f78e0,
    #577ee7,
    #5f85ef,
    #678bf6
  );
  color: white;
}

.mail-link-blurb {
  text-align: center;
  font-size: 32px;
  color: white;
  a {
    font-weight: 600;
    color: white;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
