html {
  font-size: 12.5px;
}
html.short {
  font-size: 13.75px;
}
@media screen {
  html {
    font-size: 16px;
  }
}
body {
  font-family: Montserrat, sans-serif;
  color: #333;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1;
  font-weight: 900;
}
h1 {
  font-size: 4rem;
  text-align: left;
  line-height: 0.9;
  letter-spacing: -4px;
  /*font-weight: 900;*/
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0.6rem;
  letter-spacing: -1px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

h4 {
  /*color: #4e4e4e;*/
  font-size: 1rem;
  font-weight: 800;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
}
.top-hr {
  margin-top: 10px;
}

p {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

ul {
  padding-inline-start: 30px;
}

li {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0.2rem;
}

a {
  color: #4772d9;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
}

a:visited {
  color: #4772d9;
}

a:hover {
  color: #4772d9;
  text-decoration: underline;
}

strong {
  font-weight: 700;
}

.date {
  font-family: 'Montserrat', sans-serif;
  /*color: #4e4e4e;*/
  font-size: 1rem;
  font-weight: 900;
  margin: 0 0 0 70px;
  text-align: right;
}

.gpa {
  /*color: #4e4e4e;*/
  font-size: 1rem;
}

.heading-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}

.heading-inline--publications * {
  margin: 0;
}
.heading-inline--education:last-of-type {
  margin-top: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  margin: 0;
}

.contact-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.contact-links span {
  display: flex;
  align-items: center;
}

.feather {
  width: 1rem;
  height: 1rem;
}

.contact-header {
  font-weight: 400;
  line-height: 1.2;
  text-align: right;
}

.main {
  margin: 0 auto;
}

.job-summary {
  margin: 0;
}

.job-list {
  margin-top: 0;
}

.publications-summary {
  margin-top: 0;
}

.project-link {
  font-size: 1rem;
}

.skill-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.skill-section {
  padding: 0 10px;
  flex-basis: 33%;
}

.skill-section:first-of-type {
  padding: 0 10px 0 0;
}

.skill-section:last-of-type {
  padding: 0 0 0 10px;
}

.skill {
  margin: 0 0 5px;
}

.keywords {
  font-size: 0.8rem;
  display: inline-block;
}

@media screen {
  body {
    padding: 5vh 5vw;
  }
}

@media screen and (max-width: 1000px) {
  body {
    max-width: 90%;
    margin: auto;
  }
}

@media screen and (min-width: 1000px) {
  body {
    max-width: 900px;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .header {
    flex-wrap: wrap;
  }
  .project-link {
    display: block;
  }
  .contact-header {
    text-align: left;
  }
  .skill-container {
    flex-wrap: wrap;
  }
}
